.Flex-Parent-One {
	display: flex;
}


.Flex-Parent-Two {
	display: flex;
}

.Flex-Parent-One div {
	background: peachpuff;
	border: 4px solid brown;
	height: 100px;
	flex: 1 0 0;
}

.Flex-Parent-Two div {
	background: peachpuff;
	border: 4px solid brown;
	height: 100px;
	flex: 1 0 0;
}
