body {
	background-color: lightblue;
	padding: 10px;
}

div {
	font-weight: bold;
	padding: 5px;
}

.Flex-Parent-One {
	display: flex;
	padding: 30px;
	justify-content: space-between;
	border: 4px solid brown;
	background: peachpuff;
	border-radius: 10px;
}


.Flex-Parent-Two {
	display: flex;
	border: 4px solid brown;
	background: peachpuff;
	flex-direction: column;
	padding: 40px;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	border-radius: 10px;
	height: 600px;
}


.Flex-Parent-One div {
	background: peachpuff;
	border: 4px solid brown;
	flex: 1;
	border-radius: 10px;
}

.Flex-Parent-Two div{
	border: 4px solid brown;
	flex: 1;
	border-radius: 10px;
	height: 200px;
	
}

/*
#containerOne {
	border: 4px solid brown;
	flex: 1;
	border-radius: 10px;
}

#containerTwo {
	border: 4px solid brown;
	flex: 1;
	border-radius: 10px;
} */